/*Top nav bar Roland*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.logo {
    padding-top: 5px;
}

.cartImage {
    padding: 5px 5px 0 0;
}
/*Latest product section of homepage*/
/*Table width home page*/
.mainContainer {
    width: 75%;
    margin: auto;
}
/*text on top of table*/
.latestProductsTxt {
    text-align: center;
}
/*width of table columns for latest product*/
.latestProductCol {
    width: 25%;
    padding: 5px;
}

/*Image overlay on the products*/
.hover-img {
    display: inline-block;
    margin: 8px;
    max-width: 320px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 0em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}

.hover-img:hover figcaption {
    opacity: 1;
}


.hover-img:hover > img {
    opacity: 0.7;
}

/* dropdown menu */
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropButton {
    background-color: #333;
    color: white;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    padding: 14px 16px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #333;
    font-size: 20px;
    text-align: center;
    min-width: 100px;
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropButton{background-color: #111;}
.dropdownContent a:hover {background-color: #111;}
.dropdown:hover .dropdownContent {display: block;}
