/*Top nav bar Roland*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.logo {
    padding-top: 5px;
}

.cartImage {
    padding: 5px 5px 0 0;
}
/*Latest product section of homepage*/
/*Table width home page*/
.mainContainer {
    width: 75%;
    margin: auto;
}
/*text on top of table*/
.latestProductsTxt {
    text-align: center;
}
/*width of table columns for latest product*/
.latestProductCol {
    width: 25%;
    padding: 5px;
}

/* dropdown menu */
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropButton {
    background-color: #333;
    color: white;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    padding: 14px 16px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #333;
    font-size: 20px;
    text-align: center;
    min-width: 100px;
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropButton{background-color: #111;}
.dropdownContent a:hover {background-color: #111;}
.dropdown:hover .dropdownContent {display: block;}

/* Products Col */
.productsCol {
    width: 25%;
    padding: 5px;
}
