<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="../static/code.js"></script>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <div >
        <ul>
            <a href="#home"><img class="logo" src="../static/images/logo.png" alt="Shopping Cart"> </a>
            <li><a class="cartImage" href="#cart"><img src="../static/images/cart.png" alt="Shopping Cart" width="40px" height="40px"></a></li>
            <li><a href="#signup">Sign up/Login</a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="#tables">Tables</a>
                    <a href="#chairs">Chairs</a>
                    <a href="#couches">Couches</a>
                </div>
            </div>
        </ul>

        <table class="detailContainer" align="center">
            <tr>
                <th colspan="2" class="detailsTitle">Product Name</th>
            </tr>
            <tr>
                <td  rowspan="3" class="detailsImage"><img src="../static/images/test_table.jpg" width="100%"></td>
                <td >info</td>
            </tr>
            <tr>
                <td>
                    <p class="detailDescription">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum elit, accumsan quis lobortis in, feugiat ac quam.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean rutrum convallis purus sed aliquam.
                        Nulla pretium, nisi eu auctor bibendum, orci eros finibus sem, malesuada semper tortor dolor non nisl.
                        Quisque molestie nisl vitae lectus tincidunt fermentum. In mollis vel quam eu euismod. Duis fermentum ac diam eget accumsan.
                        Mauris sed hendrerit nibh. Suspendisse volutpat viverra elit, sed ornare nunc aliquet vel. Mauris venenatis pretium lorem, in dapibus ante malesuada eget.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="detailPrice">$$$$</td>
            </tr>
        </table>
    </div>
</body>
</html>