<!DOCTYPE html>
<html lang="en">
<head th:replace="~{home :: head}"></head>
<body>
    <nav th:replace="home :: navbar"> </nav>
    <div class="container detailContainer">

        <th:block th:if="${credentials}">
            <div th:if="${credentials.admin}" id="editProductButtonWrap">
                <button class="buttonDesignShadow" th:onclick="|editProduct(${product.id})|">Edit Product</button>
            </div>
        </th:block>

        <div class="productsContainer">
            <div class="arrowArea">
                <div class="mySlides" th:each="image, indx :${#strings.arraySplit(product.photos, '#')}">
                    <div class="numberText" th:text="|${indx.count} / ${indx.size}">1 / 8</div>
                    <img th:src="@{(|/images/${image}|)}" th:onload="${indx.first} ? 'currentSlide(1)' : ''" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
    
                <div class="caption-container">
                    <p id="caption"></p>
                </div>
    
                <div class="row">
                    <div class="columnDetail" th:each="image, indx :${#strings.arraySplit(product.photos, '#')}">
                        <img class="demo cursor" th:src="@{(|/images/${image}|)}" style="width:100%" th:onclick="|currentSlide(${indx.count})|" th:alt="|${product.category} image ${indx.count}">
                    </div>                  
                </div>
            </div>
        </div>

        <table  align="center" id="detailsTable">
            <tr>
                <th class="detailsTitle" th:text="${product.title}">Product Name</th>
                
            </tr>
            <tr>
                <th class="detailsTitle" th:text="|&euro;${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}|"></th>
            </tr>
            <tr>
                <td align="center">                    
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="5" value="1">                        
                </td>
            </tr>
            <tr>
                <td><button class="buttonDesignShadow" th:onclick="|addToCart(${product.id})|">Add to Cart</button></td>
            </tr>
        </table>

        <div class="detailDescription">
            <h3>Product Details</h3>
            <p th:text="${product.description}"></p>
        </div>
    </div>
    <th:block th:replace="home :: footer"></th:block>
</body>
</html>