<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/code.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StayAtHomies</title>
</head>
<body>
    <nav th:fragment="navbar">
        <ul>
            <li><a class="cartImage" href="/cart"><img src="/images/cart.png" alt="Shopping Cart"></a></li>
           <li><a th:href="@{(${credentials == null} ? '/login_signup': '/logout')}" th:text="${credentials} ? 'LogOut' : 'Sign up/Login'"></a></li>
           <li><a href="/profile">Profile</a></li>
            <li><a href="/products">Products</a></li>
            <li style="float: left"><a class ="logo" href="/">StayAtHomies</a></li>
        </ul>
    </nav>
    <div class="container" >
        <img src="/images/home-main-image.jpg" alt="Shopping Cart" width="100%" height="80%">

        <div style="overflow: auto;">
            <table class="mainContainer" align="center">
                <tr>
                    <th class="latestProductsTxt" colspan="5">Offers In Store</th>
                </tr>
                <tr>
                    <td class="latestProductCol" th:each="product : ${products}">
                        <a th:href="@{/details/{id}(id=${product.id})}">
                            <figure class="hover-img">
                                <img th:src="|/images/${#strings.arraySplit(product.photos, '#')[0]}|" width="100%">
                                    <figcaption>
                                        <h3 th:text="${product.title}">Product Name</h3>
                                        <h5 th:text="|&euro; ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}|"></h5>
                                    </figcaption>
                            </figure>
                        </a>
                    </td>                    
            </table>
        </div>
    </div>
    <footer id="footer" th:fragment="footer">
        <p>StayAtHomies &diams; 2021</p>
    </footer>
</body>
</html>
