<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<!--    <link rel="stylesheet" href="style.css">-->
<!--    <script type="text/javascript" src="code.js"></script>-->
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="../static/code.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div >
        <ul>
            <a href="#home"><img class="logo" src="../static/images/logo.png" alt="Shopping Cart"> </a>
            <li><a class="cartImage" href="#cart"><img src="../static/images/cart.png" alt="Shopping Cart" width="40px" height="40px"></a></li>
            <li><a href="#signup">Sign up/Login</a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <li><button class="dropButton" href="#products">Products</button></li>
                <div class="dropdownContent">
                    <a href="#tables">Tables</a>
                    <a href="#chairs">Chairs</a>
                    <a href="#couches">Couches</a>
                </div>
            </div>
        </ul>

        <img src="../static/images/shop-from-home.jpg" alt="Shopping Cart" width="100%" height="80%">

        <table class="mainContainer" align="center">
            <tr>
                <th class="latestProductsTxt" colspan="4">New In the Shop</th>
            </tr>
            <tr>
                <th>Product_1</th>
                <th>Product_2</th>
                <th>Product_3</th>
                <th>Product_4</th>
            </tr>
            <tr>
                <td class="latestProductCol" ><img src="../static/images/tmpImage.jpg" width="100%" alt="Item_1"></td>
                <td class="latestProductCol" ><img src="../static/images/tmpImage.jpg" width="100%" alt="Item_1"></td>
                <td class="latestProductCol" ><img src="../static/images/tmpImage.jpg" width="100%" alt="Item_1"></td>
                <td class="latestProductCol" ><img src="../static/images/tmpImage.jpg" width="100%" alt="Item_1"></td>
            </tr>
        </table>
    </div>
</body>
</html>