<!--<div>-->
<!--    <th:block th:with="user=${credentials.genUser}"></th:block>-->
<!--</div>-->
<div th:with="user=${credentials.genUser}">
    <th:block th:each="order : ${user.orders}">
        <div>
            <p>Order Number:</p>
            <p th:text="${order.orderNumber}"></p>
            <p>Order Status:</p>
            <p th:text="${order.status}"></p>
            <p>Address:</p>
            <P th:text="${user.address}">Address:</P>
            <p>Total</p>
            <p th:text="${order.total}"></p>
            <button onclick="viewList()">Item List</button></td>
        </div>
    <div id="orderedItems" style="display: none">
        <p >test</p>
    </div>
    </th:block>

</div>
<!--    <table>-->
<!--        <tbody th:with="user=${credentials.genUser}">-->
<!--        <tr>-->
<!--            <td>Order History for:</td>-->
<!--            <td th:text="${user.firstname}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Order Number:</td>-->
<!--            <th:block th:each="${user.orders.orderNumber}"></th:block>-->
<!--&lt;!&ndash;            <td th:text="${user.orders[0].orderNumber}"></td>&ndash;&gt;-->
<!--            <td th:text="${user.orders[0].status}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Items:</td>-->
<!--            <td th:text="${#arrays.length(user.orders[0].orderItems)}"></td>-->
<!--            &lt;!&ndash;            <td th:text="${user.orders[0].status}"></td>&ndash;&gt;-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->