<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="code.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a class="cartImage" href="/cart"><img src="images/cart.png" alt="Shopping Cart"></a></li>
            <li><a th:href="@{(${credentials == null} ? '/login_signup': '/logout')}" th:text="${credentials} ? 'LogOut' : 'Sign up/Login'"></a></li>
            <li><a href="/profile">Profile</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
            <li style="float: left"><a class ="logo" href="/">StayAtHomies</a></li>
        </ul>
    </nav>

    <div class="container gallery">
        <div class="galleryContainer">

            <h2 class="galleryTitle">THE SHOP</h2>
            <hr>

            <div id="myBtnContainer">
                <button class="tabButton active" onclick="filterSelection('all')"> Show all</button>
                <button class="tabButton" onclick="filterSelection('table')"> Tables</button>
                <button class="tabButton" onclick="filterSelection('chair')"> Chairs</button>
                <button class="tabButton" onclick="filterSelection('couch')"> Couches</button>
            </div>

            <!--Gallery Grid -->
            <!--  -->
            <div class="rowProducts">
                <div th:class="|column ${product.category}|" th:each="product : ${products}" th:with="prod_img=${#strings.arraySplit(product.photos, '#')[0]}">                    
                    <div class="content">
                        <a th:href="@{/details/{id}(id=${product.id})}">
                        <img th:src="@{(|images/${prod_img}|)}" alt="Table" style="width:100%">
                        <h4 th:text="${product.title}"></h4>
                        </a>
                        <p>&euro; <span th:text="${product.price}"></span></p>
                        <button th:onclick="|addToCart(${product.id})|">Add to Cart</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <!--show gallery initially when page first loaded-->
    <script>
        filterSelection("all")
    </script>

    <footer id="footer">
        <p>Stay at homies &diams; 2021</p>
    </footer>
</body>
</html>