<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <ul>
            <a href="/"><img class="logo" src="../static/images/logo.png" alt="Shopping Cart"> </a>
            <li><a class="cartImage" href="#cart"><img src="../static/images/cart.png" alt="Shopping Cart" width="40px" height="40px"></a></li>
            <li><a href="/login_signup">Sign up/Login</a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
        </ul>
    </nav>
</body>
</html>