<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="code.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a class="cartImage" href="#cart"><img src="images/cart.png" alt="Shopping Cart"></a></li>
            <li><a th:href="@{(${credentials == null} ? '/login_signup': '/logout')}" th:text="${credentials} ? 'LogOut' : 'Sign up/Login'"></a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
            <li style="float: left"><a class ="logo" href="/">StayAtHomies</a></li>
        </ul>
    </nav>

    <div class="gallery">
        <div class="galleryContainer">

            <h2 class="galleryTitle">THE SHOP</h2>
            <hr>

            <div id="myBtnContainer">
                <button class="tabButton active" onclick="filterSelection('all')"> Show all</button>
                <button class="tabButton" onclick="filterSelection('table')"> Tables</button>
                <button class="tabButton" onclick="filterSelection('chair')"> Chairs</button>
                <button class="tabButton" onclick="filterSelection('couch')"> Couches</button>
            </div>

            <!--Gallery Grid -->
            <div class="rowProducts">
                <div class="column table">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Table" style="width:100%"></a>
                        <h4>Table</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column table">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Table" style="width:100%"></a>
                        <h4>Table</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column table">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Table" style="width:100%"></a>
                        <h4>Table</h4>
                        <p>$$$$</p>
                    </div>
                </div>

                <div class="column chair">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Chair" style="width:100%"></a>
                        <h4>Chair</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column chair">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Chair" style="width:100%"></a>
                        <h4>Chair</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column chair">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Chair" style="width:100%"></a>
                        <h4>Chair</h4>
                        <p>$$$$</p>
                    </div>
                </div>

                <div class="column couch">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Couch" style="width:100%"></a>
                        <h4>Couch</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column couch">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Couch" style="width:100%"></a>
                        <h4>Couch</h4>
                        <p>$$$$</p>
                    </div>
                </div>
                <div class="column couch">
                    <div class="content">
                        <a href="/details"><img src="images/test_table.jpg" alt="Couch" style="width:100%"></a>
                        <h4>Couch</h4>
                        <p>$$$$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--show gallery initially when page first loaded-->
    <script>
        filterSelection("all")
    </script>
</body>
</html>