<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href="../static/style.css">-->
    <link rel="stylesheet" th:href="style.css">
    <script type="text/javascript" src="code.js"></script>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <a class ="logo" href="/">StayAtHomies</a>
            <li><a class="cartImage" href="#cart"><img src="images/cart.png" alt="Shopping Cart"></a></li>
            <li><a th:href="@{(${credentials == null} ? '/login_signup': '/logout')}" th:text="${credentials} ? 'LogOut' : 'Sign up/Login'"></a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
        </ul>
    </nav>
    <div class="profileContainer">
        <h2 class="profileTitle">Profile</h2>
        <hr>

<!--        <div class="profileButtons">-->
<!--            <button>User Details</button>-->
<!--            <br>-->
<!--            <button>Orders History</button>-->
<!--            <br>-->
<!--            <button>Features..</button>-->
<!--        </div>-->

        <div class="profileButtons" th:each="user : ${users}" th:id="|row_${user.id}|">
            <button th:onclick="|viewUser(${user.id})|">User Details</button>
            <br>
            <button>Orders History</button>
            <br>
            <button>Features..</button>
        </div>
<!--        <div class="profileButtons">-->
<!--            <table>-->
<!--                <tr th:each="user : ${users}" th:id="|row_${user.id}|">-->
<!--                    <td><button th:onclick="|viewUser(${user.id})|">User Details</button></td>-->
<!--                    <td><button>Orders History</button></td>-->
<!--                    <td><button>Features..</button></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
    </div>
</body>
</html>