<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href="../static/style.css">-->
    <link rel="stylesheet" th:href="style.css">
    <script type="text/javascript" src="code.js"></script>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="cartImage" href="#cart"><img src="images/cart.png" alt="Shopping Cart"></a></li>
            <li><a th:href="@{(${credentials == null} ? '/login_signup': '/logout')}" th:text="${credentials} ? 'LogOut' : 'Sign up/Login'"></a></li>
            <li><a href="/profile">Profile</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
            <li style="float: left"><a class ="logo" href="/">StayAtHomies</a></li>
        </ul>
    </nav>
    <div class="container profileContainer">
        <h2 class="profileTitle">Profile</h2>        
        <div class="profileButtons">
            <table>
                <tr>
                    <td><button onclick="viewUser()">User Details</button></td>
                </tr>
                <tr>
                    <td><button>Orders History</button></td>
                </tr>
                <tr>
                    <td><button>Features..</button></td>
                </tr>
            </table>
        </div>
        <div id="profile_view">
            <p>Hello: <span th:text="${credentials.genUser.firstname}"></span></p>
        </div>
    </div>

    <footer id="footer">
        <p>Stay at homies &diams; 2021</p>
    </footer>
</body>
</html>