<html>
<body style="background-color: #D4D3CE">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <div class="container profileContainer" th:fragment="guest_view">
        <a href="/login_signup" id="profile_msg">&diams; Please log in to acess your profile or sign up &diams;</a>
    </div>

    <div class="container profileContainer" th:fragment="user_view">
        <h2 class="profileTitle">Profile</h2>        
        <div class="profileButtons">
            <button onclick="viewUser()">User Details</button>
            <button onclick="viewOrders()">Orders History</button>
            <button>Features..</button>
        </div>
        <div id="profile_view">
            <p id="profile_msg">Hello &diams; <span th:text="${credentials.genUser.firstname}"></span></p>
        </div>
    </div>

    <div class="container profileContainer" th:fragment="admin_view">
        <h2 class="profileTitle">Profile</h2>        
        <div class="profileButtons">
            <button onclick="viewUser()">User Details</button>
            <button onclick="viewOrders()">Orders History</button>
            <button onclick="viewSellForm()">Sell Product</button>            
        </div>
        <div id="profile_view">
            <p id="profile_msg">Hello &diams; <span th:text="${credentials.genUser.firstname}"></span></p>
        </div>
    </div>
</body>
</html>