<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript" src="code.js"></script>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <nav>
        <ul>
            <a class ="logo" href="/">StayAtHomies</a>
            <li><a class="cartImage" href="#cart"><img src="../static/images/cart.png" alt="Shopping Cart" width="40px" height="40px"></a></li>
            <li><a href="/login_signup">Sign up/Login</a></li>
            <li><a href="#sell">Sell</a></li>
            <div class="dropdown">
                <button class="dropButton" href="#products">Products</button>
                <div class="dropdownContent">
                    <a href="/products">Tables</a>
                    <a href="/products">Chairs</a>
                    <a href="/products">Couches</a>
                </div>
            </div>
        </ul>
    </nav>
    <div class="profileContainer">
        <h2 class="profileTitle">Profile</h2>
        <hr>

        <div class="profileButtons">
            <button>User Details</button>
            <br>
            <button>Orders History</button>
            <br>
            <button>Features..</button>
        </div>
    </div>
</body>
</html>