<html>
<body>

    <div class="container profileContainer" th:fragment="guest_view">
        <h3 class="profile_msg">Please log in to acess your profile or sign up</h3>        
    </div>

    <div class="container profileContainer" th:fragment="user_view">
        <h2 class="profileTitle">Profile</h2>        
        <div class="profileButtons">
            <table>
                <tr>
                    <td><button onclick="viewUser()">User Details</button></td>
                </tr>
                <tr>
                    <td><button>Orders History</button></td>
                </tr>
                <tr>
                    <td><button>Features..</button></td>
                </tr>
            </table>
        </div>
        <div id="profile_view">
            <p>Hello: <span th:text="${credentials.genUser.firstname}"></span></p>
        </div>
    </div>

    <div class="container profileContainer" th:fragment="admin_view">
        <h2 class="profileTitle">Profile</h2>        
        <div class="profileButtons">
            <table>
                <tr>
                    <td><button onclick="viewUser()">User Details</button></td>
                </tr>
                <tr>
                    <td><button  onclick="viewOrder()">Orders</button></td>
                </tr>
                <tr>
                    <td><button onclick="viewSellForm()">Sell Product</button></td>
                </tr>
            </table>
        </div>
        <div id="profile_view">
            <p>Hello: <span th:text="${credentials.genUser.firstname}"></span></p>
        </div>
    </div>
</body>
</html>